<md-toolbar>
      <h2 class="md-toolbar-tools md-accent">
        <span>Member Enrollment Form (For Outsiders)</span>
      </h2>
    </md-toolbar>
<div ng-hide="message">
<form name="bookForm" no-validate>
<md-card>
<md-card-content>
<div layout layout-sm="column">
<md-input-container flex>
        <label>Member Name</label>
        <input ng-model="member.membername" required>
      </md-input-container>
</div>
<md-input-container flex>
        <label>Phone No.</label>
        <input type="tel" ng-model="member.phoneno" required>
      </md-input-container>
<md-input-container flex>
        <label>Email</label>
        <input type="email" ng-model="member.email" required>
      </md-input-container>
<md-input-container flex>
        <label>Father Name</label>
        <input ng-model="member.fathername" required>
      </md-input-container>
<div layout layout-sm="column">  
<md-input-container flex>
        <label>Gender</label>
        <select ng-options="gender.label for gender in genders track by gender.label" ng-model="member.gender" >
        </select>  
      </md-input-container>
</div>
<md-button class="md-raised md-primary" ng-click="enrollMember()">Add</md-button>
  </md-card-content>
  </md-card>
</form>
</div>
<div ng-show="message">{{message}}</div>