<md-toolbar>
      <h2 class="md-toolbar-tools md-accent">
        <span>Issue Period Master Data Entry</span>
      </h2>
    </md-toolbar>
<div layout="row">
<div flex="33">
<form name="checkBookStatusForm" >
<input type="hidden" ng-model="issueperiod.id" value="{{issueperiod.id}}">
<md-card>
	<md-card-content>
		<h2>Period Type</h2>
		<md-input-container flex>
        <label> Period Type</label>
        <input ng-model="issueperiod.label" placeholder="Enter Period Type">
      </md-input-container>
      <md-input-container flex>
        <label> No. Of Days</label>
        <input ng-model="issueperiod.noofdays" placeholder="Enter No. of days">
      </md-input-container>
      <md-input-container>
		  <label>Remarks</label>
		  <textarea ng-model="issueperiod.remarks" md-maxlength="200"></textarea>
		</md-input-container>
		<md-button ng-show="!isEdit" class="md-raised md-primary" ng-click="addIssuePeriod()">Add</md-button> 
		<md-button ng-show="isEdit" class="md-raised md-primary" ng-click="updateIssuePeriod()">Save</md-button>
		<md-button ng-show="isEdit" class="md-raised md-default-theme" ng-click="cancelIssuePeriodEdit()">Cancel</md-button>
		
	</md-card-content>
</md-card>
</form>
</div>
<div flex>
<md-card>
	<md-card-content>
	<h2>Existing Period Types</h2>
	<table flex>
	<thead>
		<th>Period Type</th>
		<th># Days</th>
		<th>Date Created</th>
		<th>Remarks</th>
		<th>Action</th>
	</thead>
	<tbody>
	<tr ng-repeat="issuePeriod in issuePeriods">
		<td>{{issuePeriod.label}}</td>
		<td>{{issuePeriod.noofdays}}</td>
		<td>{{issuePeriod.date}}</td>
		<td>{{issuePeriod.remarks}}</td>
		<td><md-button class="md-fab button-medium md-primary" aria-label="Language" ng-click="editIssuePeriod(issuePeriod)">
      <md-tooltip>
          Edit
        </md-tooltip>
            <md-icon icon="img/icons/0006-pencil.svg" class="icon-small"></md-icon>
        </md-button>
        <md-button class="md-fab button-medium md-warn" aria-label="Language" ng-click="removeIssuePeriod(issuePeriod)">
      <md-tooltip>
          Remove
        </md-tooltip>
            <md-icon icon="img/icons/0268-minus.svg" class="icon-small"></md-icon>
        </md-button>
        </td>
	</tr>
	</tbody>
	</table>
	</md-card-content>
</md-card>
</div>
</div>