<md-dialog aria-label="Languages">
  <md-content>
    <md-subheader class="md-sticky-no-effect">Languages</md-subheader>
	<h2>Languages</h2>
	<input type="hidden" ng-model="language.id" value="{{language.id}}" />
		<md-input-container flex>
        <label> Language</label>
        <input ng-model="language.label" placeholder="Enter Language">
      </md-input-container>
      <md-input-container>
		  <label>Remarks</label>
		  <textarea ng-model="language.remarks" md-maxlength="200"></textarea>
		</md-input-container>
		<md-button ng-show="!isEdit" class="md-raised md-primary" ng-click="addLanguage()">Add</md-button> 
		<md-button ng-show="!isEdit" class="md-raised md-default-theme" ng-click="cancelForm()">Cancel</md-button> 
  </md-content>
</md-dialog>