<md-toolbar>
      <h2 class="md-toolbar-tools md-accent">
        <span>Search for Members</span>
      </h2>
    </md-toolbar>
<form name="bookForm" no-validate>
<md-card>
<md-card-content>
<div layout layout-sm="column">
<md-input-container flex>
        <label>Enter Member Id</label>
        <input ng-model="member.id" required>
      </md-input-container>
</div>
<md-button class="md-raised md-primary" ng-click="searchMember()">Search</md-button>
  </md-card-content>
  </md-card>
</form>
<div ng-show="message">{{message}}</div>
<div layout="row" ng-show="searchresults.length">
<div flex>
<md-card>
	<md-card-content>
	<h2>Member Details</h2>
	<table flex>
	<thead>
		<th>Membership No.</th>
		<th>Name</th>
		<th>Enrollment Date</th>
		<th>Father Name</th>
		<th>Phone No</th>
		<th>Email</th>
		<th>Is Active</th>
		<th>Gender</th>
	</thead>
	<tbody>
	<tr ng-repeat="searchresult in searchresults">
		<td>{{searchresult.id}}</td>
		<td>{{searchresult.membername}}</td>
		<td>{{searchresult.dateofenrollment}}</td>
		<td>{{searchresult.fathername}}</td>
		<td>{{searchresult.phoneno}}</td>
		<td>{{searchresult.email}}</td>
		<td>{{searchresult.isactive}}</td>
		<td>{{searchresult.gender}}</td>
	</tr>
	</tbody>
	</table>
	</md-card-content>
</md-card>
</div>
</div>
<md-toolbar>
      <h2 class="md-toolbar-tools md-accent">
        <span>Existing Members</span>
      </h2>
    </md-toolbar>
<md-card>
<md-card-content>
<md-button class="md-raised md-primary" ng-click="showMemberList()">Show Member List</md-button>
	<h2>Member Details</h2>
	<table flex>
	<thead>
		<th>Membership No.</th>
		<th>Name</th>
		<th>Enrollment Date</th>
		<th>Father Name</th>
		<th>Phone No</th>
		<th>Email</th>
		<th>Is Active</th>
		<th>Gender</th>
	</thead>
	<tbody>
	<tr ng-repeat="member in members">
		<td>{{member.id}}</td>
		<td>{{member.membername}}</td>
		<td>{{member.dateofenrollment}}</td>
		<td>{{member.fathername}}</td>
		<td>{{member.phoneno}}</td>
		<td>{{member.email}}</td>
		<td>{{member.isactive}}</td>
		<td>{{member.gender}}</td>
	</tr>
	</tbody>
	</table>
</md-card-content>
</md-card>