<md-toolbar>
      <h2 class="md-toolbar-tools md-accent">
        <span>Place</span>
      </h2>
    </md-toolbar>
<div layout="row">
<div flex="33">
<form name="languageForm" >
<input type="hidden" ng-model="place.id" value="{{place.id}}">
<md-card>
	<md-card-content>
		<h2>Places</h2>
		<md-input-container flex>
        <label> Place</label>
        <input ng-model="place.label" placeholder="Enter Place">
      </md-input-container>
      <md-input-container>
		  <label>Remarks</label>
		  <textarea ng-model="place.remarks" md-maxlength="200"></textarea>
		</md-input-container>
		<md-button ng-show="!isEdit" class="md-raised md-primary" ng-click="addPlace()">Add</md-button> 
		<md-button ng-show="isEdit" class="md-raised md-primary" ng-click="updatePlace()">Save</md-button>
		<md-button ng-show="isEdit" class="md-raised md-default-theme" ng-click="cancelPlace()">Cancel</md-button>
		
	</md-card-content>
</md-card>
</form>
</div>
<div flex>
<md-card>
	<md-card-content>
	<h2>Existing Places</h2>
	<table flex>
	<thead>
		<th>Place</th>
		<th>Date Created</th>
		<th>Remarks</th>
		<th>Action</th>
	</thead>
	<tbody>
	<tr ng-repeat="place in places">
		<td>{{place.label}}</td>
		<td>{{place.date}}</td>
		<td>{{place.remarks}}</td>
		<td><md-button class="md-fab button-medium md-primary" aria-label="Place" ng-click="editPlace(place)">
      <md-tooltip>
          Edit
        </md-tooltip>
            <md-icon icon="img/icons/0006-pencil.svg" class="icon-small"></md-icon>
        </md-button>
        <md-button class="md-fab button-medium md-warn" aria-label="Place" ng-click="removePlace(place)">
      <md-tooltip>
          Remove
        </md-tooltip>
            <md-icon icon="img/icons/0268-minus.svg" class="icon-small"></md-icon>
        </md-button>
        </td>
	</tr>
	</tbody>
	</table>
	</md-card-content>
</md-card>
</div>
</div>