<md-dialog aria-label="Languages">
  <md-content>
    <md-subheader class="md-sticky-no-effect">Places</md-subheader>
	<h2>Places</h2>
	<input type="hidden" ng-model="place.id" value="{{place.id}}" />
		<md-input-container flex>
        <label> Place</label>
        <input ng-model="place.label" placeholder="Enter Place">
      </md-input-container>
      <md-input-container>
		  <label>Remarks</label>
		  <textarea ng-model="place.remarks" md-maxlength="200"></textarea>
		</md-input-container>
		<md-button ng-show="!isEdit" class="md-raised md-primary" ng-click="addPlace()">Add</md-button> 
		<md-button ng-show="!isEdit" class="md-raised md-default-theme" ng-click="cancelForm()">Cancel</md-button> 
  </md-content>
</md-dialog>